@font-face {
  font-family: "iconfont"; /* Project id 3168102 */
  src: url('iconfont.woff2?t=1643805947609') format('woff2'),
       url('iconfont.woff?t=1643805947609') format('woff'),
       url('iconfont.ttf?t=1643805947609') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check-circle:before {
  content: "\e77d";
}

.icon-close-circle:before {
  content: "\e77e";
}

.icon-info-circle:before {
  content: "\e77f";
}

.icon-left-circle:before {
  content: "\e780";
}

.icon-down-circle:before {
  content: "\e781";
}

.icon-copyright:before {
  content: "\e782";
}

.icon-play-circle:before {
  content: "\e783";
}

.icon-right-circle:before {
  content: "\e784";
}

.icon-timeout:before {
  content: "\e785";
}

.icon-up-circle:before {
  content: "\e786";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-eye:before {
  content: "\e78f";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-delete:before {
  content: "\e7c3";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-like:before {
  content: "\e7c8";
}

.icon-customerservice:before {
  content: "\e7ca";
}

.icon-folder-add:before {
  content: "\e7d1";
}

.icon-select:before {
  content: "\e7d4";
}

.icon-heart:before {
  content: "\e7df";
}

.icon-verticalright:before {
  content: "\e7ea";
}

.icon-verticalleft:before {
  content: "\e7eb";
}

.icon-right:before {
  content: "\e7ec";
}

.icon-left:before {
  content: "\e7ed";
}

.icon-up:before {
  content: "\e7ee";
}

.icon-down:before {
  content: "\e7ef";
}

.icon-arrowright:before {
  content: "\e7f0";
}

.icon-arrowup:before {
  content: "\e7f1";
}

.icon-arrowleft:before {
  content: "\e7f2";
}

.icon-arrowdown:before {
  content: "\e7f3";
}

.icon-sort-descending:before {
  content: "\e7f4";
}

.icon-sort-ascending:before {
  content: "\e7f5";
}

.icon-check:before {
  content: "\e7fc";
}

.icon-close:before {
  content: "\e7fd";
}

.icon-pause:before {
  content: "\e7fe";
}

.icon-search:before {
  content: "\e8ef";
}

.icon-step-backward:before {
  content: "\e8f0";
}

.icon-step-forward:before {
  content: "\e8f1";
}

.icon-more:before {
  content: "\e710";
}

.icon-other:before {
  content: "\e714";
}

